#intro .jumbotron{
    background-color: lightgrey;
}

#intro h1 h3{
    color: #5c5b5a;;
    font-weight: bold
}

#intro .jumbotron button{
    font-weight: lighter;
    color: white;
    background-color: dimgray;
}

.btn-group-lg>.btn, .btn-lg {
    padding: 0.5rem 7rem;
    line-height: 1.5;
    font-size: 17px;
}
.col-md-7 {
    padding: 0;
    margin: 0;
}

.pleft{
    padding-left: 24px;
}

h5 {
    font-weight: bold;
}

#third h6{
    font-weight: normal;
}

#third .container{
    background-color: lightgrey;
}

#second .card-body {
    position: relative;
    top: 16%;
    font-size: smaller;
}

#second .col-md-4 img{
    padding: 16px;
}

#third .card-title, .card-text {
    font-size: smaller;
}

#third .card-body{
    padding: 16px !important;
}

#third .card-title{
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0px;
}

@media screen and (min-width:576px){
    .nav-item  img{
        display:none;
    }

}

@media screen and (max-width:576px){
    .nav-item  img{
        display:inline-block;
        width:100%;
    }
    span.text{
        display: none;
    }
    .navbar{
        height: 64px;
    }
    .col-md-7 img{
        background-position: center;
        background-size: cover;
        margin:0px;
        padding:0px;
    }
}